[Unit]
Description=fbcp
Before=basic.target
After=local-fs.target sysinit.target
DefaultDependencies=no

[Service]
ExecStart=/home/pi/fbcp-ili9341/build/fbcp-ili9341
User=root
[Install]
WantedBy=basic.target
