[Unit]
Description=fbcp-bl
Before=basic.target
After=local-fs.target sysinit.target
DefaultDependencies=no

[Service]
ExecStart=/home/pi/init-bl.sh
User=pi

[Install]
WantedBy=basic.target
